---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <div slot="article" class="w-full flex flex-col items-center dark:bg-violet-200 dark:text-white mt-5 mb-5">
        <!-- Título Memorama -->
        <h1 class="text-4xl mt-5 mb-5">Memorama</h1>
      
        <!-- Cuadrícula de Imágenes -->
        <div class="grid grid-cols-4 grid-rows-3 gap-4">
          <!-- Fila 1 -->
          <img src="/tux.jpg" alt="Imagen 1" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 2" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 3" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 4" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
      
          <!-- Fila 2 -->
          <img src="/tux.jpg" alt="Imagen 5" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 6" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 7" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 8" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
      
          <!-- Fila 3 -->
          <img src="/tux.jpg" alt="Imagen 9" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 10" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 11" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
          <img src="/tux.jpg" alt="Imagen 12" class="col-span-1 row-span-1 w-1/2 rounded-xl mx-auto">
        </div>
      </div>
      

        



        
</Layout>